<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  	

  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script>
  
  $(document).ready(function(){
    $("#demo").click(function(){
        
        $.get( "/data", function( data ) {
          var f = data.foods
          $("table").append("<thead><tr><th>FoodID</th><th>FoodName</th></tr></thead>");
          
          for (i = 0; i < f.length; i++)
          {
            var item = f[i];
            
            $("table").append("<tbody><tr><td>" + item.foodID + "</td><td>" + item.foodName + "</td></tr></tbody>");
            
          }
         
});
ax();
    });
    
 
});

function ax(){
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

$.get("/data",function(data){
    var f = data.foods;
    
    var d = [];
    d[0] = ['foodname','sales'];
    for(i=0;i<f.length;i++){
     
    d[i+1] = [f[i].foodName,parseInt(f[i].sales)];
    }
    
      var data = google.visualization.arrayToDataTable(d);

      var options = {
        title: 'Sales Comparision',
        chartArea: {width: '50%',height: '120%'},
        hAxis: {
          title: 'Sales'
        },
        vAxis: {
          title: 'Food Name'
          
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    
});	
}
}

  </script>

</head>

<body>
  <div class="container">
  
 <input id = 'demo' type = "button" value = "click here!" class="btn btn-default"> <br>
 <table class = "table">

    </table>
 
 
 </div>
<div id="chart_div"></div>
</body>
</html>
