<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script>
  
  $(document).ready(function(){
    $("#demo").click(function(){
        
        $.get( "/data", function( data ) {
          var f = data.foods
          $("table").append("<thead><tr><th>FoodID</th><th>FoodName</th></tr></thead>");
          for (i = 0; i < f.length; i++)
          {
            var item = f[i];
            
            $("table").append("<tbody><tr><td>" + item.foodID + "</td><td>" + item.foodName + "</td></tr></tbody>");
            
            
            var d = [];
            var i = 1;
            d[0]=['foodName','sales'];

            <%proj.student_details.forEach(function(item){
                var a = ['item.foodName','item.sales'];
                d[i]=a;
                })%>

            var data = google.visualization.arrayToDataTable(d);

            var options = {
                chart: {
                    title: 'sales Comparision',

                },
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart = new google.charts.Bar(document.getElementById('barchart_material'));

            chart.draw(data, options);
        }
          }
          
 
    
}, "json" );
    });
});

  </script>

</head>

<body>
  <div class="container">
  
 <input id = 'demo' type = "button" value = "click here!" class="btn btn-default"> <br>
 <table class = "table">

    </table>
 
 
 </div>

</body>
</html>
