<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  	

  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script>
  
  $(document).ready(function(){
    $("#demo").click(function(){
        
        $.get( "/data", function( data ) {
          var f = data.foods
          $("table").append("<thead><tr><th>FoodID</th><th>FoodName</th></tr></thead>");
          var d = [];
          d[0] = ['Food Name', 'Sales'];
          for (i = 0; i < f.length; i++)
          {
            var item = f[i];
            d[i+1] = [item.foodName, item.sales];
            $("table").append("<tbody><tr><td>" + item.foodID + "</td><td>" + item.foodName + "</td></tr></tbody>");
            
          }
         ax(d);
}, "json" );
    });
    

});

function ax(d){
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {


      var data = google.visualization.arrayToDataTable(d);

      var options = {
        title: 'Population of Largest U.S. Cities',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Total Population',
          minValue: 0
        },
        vAxis: {
          title: 'City'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
	

}

  </script>

</head>

<body>
  <div class="container">
  
 <input id = 'demo' type = "button" value = "click here!" class="btn btn-default"> <br>
 <table class = "table">

    </table>
 
 
 </div>
<div id="chart_div"></div>
</body>
</html>
