<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script>
  
  $(document).ready(function(){
    $("#demo").click(function(){
        
        $.get( "/data", function( data ) {
          var f = data.foods
          $("table").append("<thead><tr><th>FoodID</th><th>FoodName</th></tr></thead>");
          for (i = 0; i < f.length; i++)
          {
            var item = f[i];
            
            $("table").append("<tbody><tr><td>" + item.foodID + "</td><td>" + item.foodName + "</td></tr></tbody>");
            
          }
          $(document).ready(function(){
        $("#demo").click(function(){
            var d = [];
            
          <div id="chart_div"></div>
          google.charts.load('current', {packages: ['corechart', 'bar']});
                    google.charts.setOnLoadCallback(drawBarColors);

            $.getJSON("data.json", function(data){
    $.each(data.justIn, function() {
        $.each(this, function(k, v) {
            alert(k + ' ' + v);
        });
    });
    $.each(data.recent, function() {
        $.each(this, function(k, v) {
            alert(k + ' ' + v);
        });
    });
    $.each(data.old, function() {
        $.each(this, function(k, v) {
            alert(k + ' ' + v);
        });
    });    
});

            var data = google.visualization.arrayToDataTable(d);

            var options = {
                chart: {
                    title: 'sales Comparision',

                },
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
    }
        }
          }
          
 
    
}, "json" );
    });
});

  </script>

</head>

<body>
  <div class="container">
  
 <input id = 'demo' type = "button" value = "click here!" class="btn btn-default"> <br>
 <table class = "table">

    </table>
 
 
 </div>

</body>
</html>
